* {
	box-sizing: border-box;
}


body {
	overflow-y: hidden;
	overflow-x: hidden;
	animation: slideIn 1.2s ease forwards;
	font-size: 14px;
}


@keyframes slideIn {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}


.container {
	width: 100vw;
	height: 100vh;
	background: rgba(250, 250, 250, 1);
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.title {
	width: 401px;
	color: rgba(121, 75, 236, 1);
	position: absolute;
	top: 295px;
	left: 118px;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 122px;
	opacity: 1;
	text-align: left;
}

.add-bot-button {
	cursor: pointer;
	text-decoration: none;
	position: absolute;
	border-radius: 7px;
	overflow: hidden;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-bot-button.invite {
	width: 300px;
	height: 64px;
	background-color: #794BEC;
	color: #ffffff;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
	font-size: 32px;
	top: 586px;
	left: 309px;
}

.add-bot-button.server {
	width: 300px;
	height: 64px;
	cursor: pointer;
	text-decoration: none;
	background-color: #171d22;
	color: #ffffff;
	font-weight: 400;
	font-size: 32px;
	top: 586px;
	left: 657px;
}

.add-bot-button.invite a {
	cursor: pointer;
	text-decoration: none;
	position: relative;
	top: 12px;
	left: 0;
	color: #ffffff;
	font-size: 30px;
	font-family: Montserrat;
	font-weight: 550;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.add-bot-button.server a {
	cursor: pointer;
	text-decoration: none;
	position: relative;
	top: 12px;
	color: #ffffff;
	font-size: 30px;
	font-family: Montserrat;
	font-weight: 550;
	left: 0;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.add-bot-button.invite:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: #171d22;
	color: #794BEC;
	transform: translateY(-10px);
}

.add-bot-button.server:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: #794BEC;
	color: #ffffff;
	transform: translateY(-10px);
}

.onze-logo {
	width: 69px;
	height: 69px;
	background: url("../images/onze-logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 30px;
	left: 85px;
	overflow: hidden;
}

.vertical-bar {
	position: absolute;
	border-left: 1px solid rgba(23, 29, 34, 1);
	left: 185px;
	height: 70px;
	top: 30px;
}

.subtitle-0 {
	width: 598px;
	color: rgba(23, 29, 34, 1);
	position: absolute;
	top: 382px;
	left: 188px;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 122px;
	opacity: 1;
	text-align: left;
}


.subtitle-1 {
	width: 214px;
	color: rgba(32, 35, 39, 1);
	position: absolute;
	top: 44px;
	left: 215px;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 25px;
	opacity: 1;
	text-align: left;
}

.subtitle-1::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 4px;
	background-color: rgba(121, 75, 236, 1);
	bottom: -12px;
	left: 0;
	transform-origin: left;
	transform: scaleX(0);
	transition: transform .3s ease-in-out;
}

.subtitle-1:hover::before {
	transform-origin: left;
	transform: scaleX(0.82);
}

.subtitle-2 {
	width: 254px;
	color: rgba(32, 35, 39, 1);
	position: absolute;
	top: 44px;
	left: 420px;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 25px;
	opacity: 1;
	text-align: left;
}

.subtitle-2::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 4px;
	background-color: rgba(121, 75, 236, 1);
	bottom: -12px;
	left: 0;
	transform-origin: left;
	transform: scaleX(0);
	transition: transform .3s ease-in-out;
}

.subtitle-2:hover::before {
	transform-origin: left;
	transform: scaleX(0.83);
}

.subtitle-3 {
	width: 214px;
	color: rgba(32, 35, 39, 1);
	position: absolute;
	top: 44px;
	left: 655px;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 25px;
	opacity: 1;
	text-align: left;
}

.subtitle-3::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 4px;
	background-color: rgba(121, 75, 236, 1);
	bottom: -15px;
	left: 0;
	transform-origin: left;
	transform: scaleX(0);
	transition: transform .3s ease-in-out;
}

.subtitle-3:hover::before {
	transform-origin: left;
	transform: scaleX(0.95);
}

.description {
	width: 805px;
	color: rgba(32, 35, 39, 1);
	position: absolute;
	top: 533px;
	left: 188px;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 27px;
	opacity: 1;
	text-align: left;
}

.bot-logo {
	width: 380px;
	height: 380px;
	background: url("../images/daily-music-logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 293px;
	left: 1332px;
	overflow: hidden;
	transform: rotate(7deg);
}


@media screen and (max-width: 768px) {
	body {
		overflow-y: scroll;
	}
	.onze-logo {
		left: 20px;
	}

	.vertical-bar {
		left: 110px;
	}

	.subtitle-0 {
		width: auto;
		font-size: 62px;
		top: 220px;
		left: 30px;
	}

	.subtitle-1 {
		left: 135px;
		top: 25px;
	}
	.subtitle-1::before {
		display: none;
	}
	
	.subtitle-1:hover::before {
		display: none;
	}
	.subtitle-2 {
		left: 135px;
		top: 65px;
	}

	.subtitle-3 {
		display: none;
	}

	.title {
		width: auto;
		font-size: 72px;
		top: 160px;
		left: 30px;
	}

	.description {
		width: auto;
		font-size: 20px;
		top: 300px;
		left: 30px;
	}

	.add-bot-button.invite {
		left: 20px;
		top: 380px;
	}

	.add-bot-button.server {
		left: 20px;
		top: 470px
	}

	.bot-logo {
		width: 240px;
		height: 240px;
		top: 570px;
		left: 70px;
	}
}
