* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans&family=Quicksand:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #111214;
  line-height: 1.5;
}

h1 {
  color: #ffffff;
  font-size: 72px
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
}

p {
  color: #d4d4d4;
  text-align: center;
}

a {
  color: #d4d4d4;
  text-decoration: none;
}

.links,
.effect {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

.effect {
  background: linear-gradient(
    90.66deg,
    #e448f9 1.23%,
    #e448f9 1.23%,
    #e448f9 1.24%,
    #0a57e3 99.79%
  );
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  max-width: 800px;
  padding: 20px;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    line-height: 1.2;
  }
  h1 {
    white-space: inherit;
  }
  .content {
    padding: 10px;
  }
}
